* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 20px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 35px;
  height: 35px;
  background-color: white;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.bord {
  width: 105px;
  height: 105px;
  display: flex;
  flex-wrap: wrap;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
}
